@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.cdnfonts.com/css/formula-condensed');

@font-face {
	font-family: 'Formula Condensed';
	src: url('../../public/fonts/FormulaCondensed-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Formula Condensed';
	src: url('../../public/fonts/FormulaCondensed-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
  }

:root {
	// Colors
	--primaryColor: rgb(242, 194, 243);
	--secondaryColor: rgb(0, 41, 48);
    --accentColor: rgb(255, 234, 103);

	--bs-font-sans-serif: 'Poppins', sans-serif !important;
	--bs-font-secondary: 'Formula Condensed', sans-serif !important;

	.btn-success {
		--bs-btn-color: black;
		--bs-btn-bg: #82ecc6;
		--bs-btn-border-color: #82ecc6;
		--bs-btn-hover-color: black;
		--bs-btn-hover-bg: transparent;
		--bs-btn-hover-border-color: #82ecc6;
	}
}