@use "./variables";
@import url(./hover.css);

html,
body {
	.primary-bg {
		background-color: var(--primaryColor);
		color: var(--secondaryColor);
	}
	.secondary-bg {
		background-color: var(--secondaryColor);
		color: var(--primaryColor);
	}
	.accent-bg {
		background-color: var(--accentColor);
		color: var(--secondaryColor);
	}
	.black-bg {
		background-color: black;
		color: var(--primaryColor);
	}

	.title-section {
		text-transform: uppercase;
		line-height: 1em;
		letter-spacing: .025em;
		font: {
			family: var(--bs-font-secondary);
			weight: 600;
			size: 3rem;
		}	

		@media (min-width: 749px) {
			font-size: 5rem;
		}

		@media (min-width: 1024px) {
			font-size: 6rem;
		}
	}

	.hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	.overflow { overflow-x: clip; }

	.item-text {
		line-height: 1.25em;
		font-weight: 300;

		b { font-weight: 700; }

		@media (min-width: 1024px) {
			font-size: 2rem;
		}
	}

	.btn {
		transition: .3s ease;
		border-radius: 30px;
		font: {
			weight: 800;
			size: 1.125rem;
		}	
		padding: {
			left: 25px;
			right: 25px;
		}

		&.btn-primary {
			border: 1px solid black;
			background-color: white;
			color: black;
		}

		&.btn-secondary {
			border: 1px solid var(--secondaryColor);
			background-color: var(--accentColor);
			color: var(--secondaryColor);
		}

		@media (min-width: 1024px) {
			font-size: 1.625rem;
		}
	}

	section { padding: 85px 0; }

	#separator {
		position: relative;
  		height: 100px;
		margin-top: -35px;
    	margin-bottom: -35px;
		transform: rotate(-2deg);
		border: {
			top: 1px solid var(--secondaryColor);
			bottom: 1px solid var(--secondaryColor);
		}
		padding: 50px 0;
	
		.background-container {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 200%; /* Ajusta el tamaño para cubrir el doble del ancho del contenedor */
			overflow: hidden;
		}
		  
		.background {
			position: absolute;
			top: 16px;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: url('../../public/images/separator.png');
			background-repeat: repeat-x;
			animation: moveSeparator 10s linear infinite;
		}
		  
		@keyframes moveSeparator {
			0% {
			  transform: translateX(0);
			}
			100% {
			  transform: translateX(-50%); /* Mueve el fondo a la mitad del ancho del contenedor */
			}
		}

		@media (min-width: 749px) {
			.background { animation: moveSeparator 30s linear infinite; }
		}
	}

	#form {
		.subtitle-section {
			text-transform: uppercase;
			margin: 5px 0 40px 0;
			font: {
				weight: 300;
				size: 1.25rem;
			}
		}

		.btn-primary {
			background-color: var(--primaryColor);
			color: var(--secondaryColor);
			border-color: var(--secondaryColor);

			&:before {
				transition-duration: 0.5s;
				background-color: var(--secondaryColor);
			}
			&:hover, 
			&:focus, 
			&:active { color: var(--primaryColor); }
		}

		.form-control, .form-select {
			--bs-border-radius: 2rem;
			--bs-border-width: 3px;
			--bs-border-color: var(--primaryColor);
			padding: 0.75rem;
		}

		.form-group {
			.mb-3 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.form-text {
					padding-left: 10px;
				}
			}
		}

		@media (min-width: 749px) {
			.second-line {
				font-size: 4rem;
			}

			.form-group {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 10px;
			}
		}
		@media (min-width: 1024px) {
			.second-line {
				font-size: 5rem;
			}
		}
	}

	#footer {
		.logo-image {
			max-width: 125px;
			margin: 0 auto;
		}

		.title-section {
			margin: 35px 0;
			@media (min-width: 1024px) {
				font-size: 3.5rem;
			}
		}

		.social-nav {
			flex-wrap: wrap;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 55px;
				height: 55px;
				border-radius: 50%;
				background-color: transparent;
				border: 3px solid var(--primaryColor);
				
				svg { 
					width: 24px;
					height: 24px;
					fill: var(--primaryColor); 
					transition-duration: 0.5s;
				}

				&:before {
					transition-duration: 0.5s;
					background-color: var(--primaryColor);
				}
				&:hover, 
				&:focus, 
				&:active {
					svg { fill: var(--secondaryColor); }
				}
			}
		}

		@media (min-width: 749px) {
			.social-nav a {
				width: 70px;
				height: 70px;

				svg { 
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

